.avatarmenu {
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: $z-index-avatar-menu;
  img {
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    right: 0.2rem;
    top: calc(100% + 0.2rem);
  }
}
