.userdashboard {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  .userName {
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      input {
        display: none;
      }
    }
    img {
      width: 100px;
      border-radius: 50%;
      aspect-ratio: 1;
    }
  }
  .email {
    display: flex;
    gap: 10px;
  }
  .changeUserName {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    & > div {
      display: flex;
      gap: 10px;
    }
    .nameInput {
      padding: 5px;
    }
    .avalible {
      border: 2px green solid;
    }
    .unavalible {
      border: 2px red solid;
    }
  }
  .changePassword {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
